<app-navbar></app-navbar>

<div class="bottom-up" *ngIf="showButtom" (click)="onScrollTop()">
    <i class="fas fa-chevron-up"></i>
</div>


<div class="container-boton">
    <a href="https://wa.me/522712141938/?text=Hola%20Recargas%20Electronicas%20quiero%20aclarar%20unas%20dudas%20acerca%20de%20sus%20servicios" target="_blank">
        <img class="boton" src="assets/images/whatsApp.png" alt="WhatsApp">
        <span class="text-wh">  Recargas Electrónicas </span>
    </a>
</div>

<router-outlet (activate)="onScrollTop()"></router-outlet>