<div class="section-header mt-5">
    <h1 class="title" data-title="FAQS">Preguntas Frecuentes</h1>
</div>

<!--FAQS-Comision  -->
<div class="container col-xxl-8 px-4 py-5 comision-container wow animate__animated animate__fadeInRight">
    <p class="text-center text-uppercase comision-title">Comisión</p>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-8">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <p class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <div class="circle-icon comision-icon"> <i class="fa fa-question"></i> </div>
                        <span>¿Como puedo obtener mi comisión?</span> </button>
                    </p>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body"> Tu comisión sera asignada y aplicada en el momento en que tu distribuidor te de alta en nuestra plataforma
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <p class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <div class="circle-icon comision-icon"> <i class="fa fa-question"></i> </div>
                        <span>¿Como funciona mi comisión?</span> </button>
                    </p>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body"> tu comisión sera aplicado a todas tus recargas sin importar el monto e ira aumentando conforme vallas vendiendo, este mismo lo podras visualizar en tu plataforma como utilidades. </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <p class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <div class="circle-icon comision-icon"> <i class="fa fa-question"></i> </div>
                    <span>¿Como puedo obtener un aumento en mi comisión</span> </button>

                    </p>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body"> Para obtener un aumento deberas de tener buenas ventas y tener una antiguedad con nosotros, si cumples con ese requisito, tendras que contactarte con tu distribuidor via whatsApp, si eres un cliente nuevo solo podras tener un aumento
                            al menos que seas distribuidor.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <img src="/assets/images/faqs_comisiones.png" class="d-block mx-lg-auto img-fluid" alt="faqs comision" width="700" height="500" loading="lazy">
        </div>
    </div>
</div>
<!--  -->


<!--FAQS-Depositos  -->
<div class="container col-xxl-8 px-4 py-5 depositos-container wow animate__animated animate__fadeInLeft">
    <p class="text-center text-uppercase depositos-title">Depositos</p>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-4">

            <img src="/assets/images/faqs_depositos.png" class="d-block mx-lg-auto img-fluid" alt="faqs depositos" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-8">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <p class="accordion-header" id="headingA">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseA" aria-expanded="true" aria-controls="collapseA">
                      <div class="circle-icon depositos-icon"> <i class="fa fa-question"></i> </div>
                        <span>¿En donde puedo ubicar las cuentas para recargar saldo?</span> </button>
                    </p>
                    <div id="collapseA" class="accordion-collapse collapse show" aria-labelledby="headingA" data-bs-parent="#accordionExample">
                        <div class="accordion-body">Todas las cuentas las podras encontrar en tu plataforma para depositos y transferencias </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <p class="accordion-header" id="headingB">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseB" aria-expanded="false" aria-controls="collapseB">
              <div class="circle-icon depositos-icon"> <i class="fa fa-question"></i> </div>
                      Hice un Pago pero no se ha abonado mi saldo a mi cuenta</button>
                    </p>
                    <div id="collapseB" class="accordion-collapse collapse" aria-labelledby="headingB" data-bs-parent="#accordionExample">
                        <div class="accordion-body"> Si no has creado una referencia de tus pagos, tendras que notificarlo con tu distribuidor ya sea por WhatsApp, o en la pagina en la seccion de reportar deposito tendras que llenar un formulario con datos de tu deposito.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <p class="accordion-header" id="headingC">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseC" aria-expanded="false" aria-controls="collapseC">
              <div class="circle-icon depositos-icon"> <i class="fa fa-question"></i> </div>
                    <span>¿Como puedo referenciar mis pagos?</span> </button>

                    </p>
                    <div id="collapseC" class="accordion-collapse collapse" aria-labelledby="headingC" data-bs-parent="#accordionExample">
                        <div class="accordion-body">Si eres un cliente de Pagaqui, puedes referenciar tus depositos y Transferencias lo podras hacer directamente en tu plataforma en la sección Solicitudes/Generar Rerencia </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Recargas -->
<div class="container col-xxl-8 px-4 py-5 recargas-container wow animate__animated animate__fadeInRight">
    <p class="text-center text-uppercase recargas-title">Recargas</p>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-8">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <p class="accordion-header" id="heading_1">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_1" aria-expanded="true" aria-controls="collapse_1">
                      <div class="circle-icon recarga-icon"> <i class="fa fa-question"></i> </div>
                        <span>¿Con cuanto puedo empezar a vender?</span> </button>
                    </p>
                    <div id="collapse_1" class="accordion-collapse collapse show" aria-labelledby="heading_1" data-bs-parent="#accordionExample">
                        <div class="accordion-body"> El Mínimo a recargar es de $300 y el Máximo de $1,900 sin facturar, pero puede recargas las veces que quiera solo que no sobrepase los $1,900 </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <p class="accordion-header" id="heading_2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_2" aria-expanded="false" aria-controls="collapse_2">
              <div class="circle-icon recarga-icon"> <i class="fa fa-question"></i> </div>
                        <span>¿Que puedo hacer recargando saldo?</span> </button>
                    </p>
                    <div id="collapse_2" class="accordion-collapse collapse" aria-labelledby="heading_2" data-bs-parent="#accordionExample">
                        <div class="accordion-body"> Con un único saldo podras vender tiempo aire a cualquier compañia de telefonia celular, ademas de pagar servicios de tus clientes. </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <p class="accordion-header" id="heading_3">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_3" aria-expanded="false" aria-controls="collapse_3">
              <div class="circle-icon recarga-icon"> <i class="fa fa-question"></i> </div>
                    <span>Tengo saldo pero no puedo realizar recargas</span> </button>

                    </p>
                    <div id="collapse_3" class="accordion-collapse collapse" aria-labelledby="heading_3" data-bs-parent="#accordionExample">
                        <div class="accordion-body"> A veces hay intermitencias en el servicio lo que puede originar la imposibilidad de realizar recargas, de igual manera puedes asesorarte con tu distribuidor para que verifique tu situación.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <img src="/assets/images/faqs_recargas.png" class="d-block mx-lg-auto img-fluid" alt="faqs recargas" width="700" height="500" loading="lazy">
        </div>
    </div>
</div>


<!-- FQS-Inscripcion -->
<div class="container col-xxl-8 px-4 py-5 inscripcion-container wow animate__animated animate__fadeInLeft">
    <p class="text-center text-uppercase inscripcion-title">Inscripción</p>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-4">

            <img src="/assets/images/faqs_inscripcion.png" class="d-block mx-lg-auto img-fluid" alt="faqs inscripción" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-8">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <p class="accordion-header" id="headingAA">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAA" aria-expanded="true" aria-controls="collapseAA">
                      <div class="circle-icon inscripcion-icon"> <i class="fa fa-question"></i> </div>
                        <span>Me interesa sus servicios, ¿Como puedo inscribirme?</span> </button>
                    </p>
                    <div id="collapseAA" class="accordion-collapse collapse show" aria-labelledby="headingAA" data-bs-parent="#accordionExample">
                        <div class="accordion-body">Agradecemos tus preferencias, para inscribirte tendras que llenar un formulario con tus datos, este mismo lo podras encontrar en la sección Inscripción.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <p class="accordion-header" id="headingAB">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAB" aria-expanded="false" aria-controls="collapseAB">
              <div class="circle-icon inscripcion-icon"> <i class="fa fa-question"></i> </div>
                     ¿Porque piden mis datos para inscribirme?</button>
                    </p>
                    <div id="collapseAB" class="accordion-collapse collapse" aria-labelledby="headingB" data-bs-parent="#accordionExample">
                        <div class="accordion-body"> Tus datos son totalmente confidenciales y será utilizada únicamente para Registrar al usuario en los sistemas de ventas, y para mantenerlo informado de promociones, fallas con los sistemas, días movistar y cualquier otro tipo de
                            información que se requiera para enviar por correo electrónico así como para brindar soporte en caso de cualquier duda y poder entablar una comunicación con nuestros especialistas en Recargas Electrónicas.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <p class="accordion-header" id="headingAC">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAC" aria-expanded="false" aria-controls="collapseAC">
              <div class="circle-icon inscripcion-icon"> <i class="fa fa-question"></i> </div>
                    <span>¿Como obtengo mi usuario y contraseña para ingresar a mi plataforma?</span> </button>

                    </p>
                    <div id="collapseAC" class="accordion-collapse collapse" aria-labelledby="headingAC" data-bs-parent="#accordionExample">
                        <div class="accordion-body">Una vez que hayas llenado correctamente el formulario y enviado, uno de nuestros asistentes se comunicara contigo para proporcionarte tus datos de acceso a la plataforma </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Plataforma -->
<div class="container col-xxl-8 px-4 py-5 plataforma-container wow animate__animated animate__fadeInLeft">
    <p class="text-center text-uppercase plataforma-title">Plataforma</p>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-8">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingBA">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBA" aria-expanded="true" aria-controls="collapseBA">
                      <div class="circle-icon plataforma-icon"> <i class="fa fa-question"></i> </div>
                        <span>¿En donde puedo descargar la aplicación?</span> </button>
                    </h2>
                    <div id="collapseBA" class="accordion-collapse collapse show" aria-labelledby="headingBA" data-bs-parent="#accordionExample">
                        <div class="accordion-body">Dependiendo de tu sistema operativo movil, lo podras descargar en la AppStore o PlayStore </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingBB">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBB" aria-expanded="false" aria-controls="collapseBB">
              <div class="circle-icon plataforma-icon"> <i class="fa fa-question"></i> </div>
                        <span>¿Como puedo vender?</span> </button>
                    </h2>
                    <div id="collapseBB" class="accordion-collapse collapse" aria-labelledby="headingBB" data-bs-parent="#accordionExample">
                        <div class="accordion-body">Para tu mayor comodidad y factibilidad podras vender tiempo aire a travez de nuestra App, desde tu navegador o via SMS gratuito </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingBC">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBC" aria-expanded="false" aria-controls="collapseBC">
              <div class="circle-icon plataforma-icon"> <i class="fa fa-question"></i> </div>
                   Se me olvido mi usuario y/o contrasena</button>

                    </h2>
                    <div id="collapseBC" class="accordion-collapse collapse" aria-labelledby="headingBC" data-bs-parent="#accordionExample">
                        <div class="accordion-body">Si no puedes ingresar a tu plataforma comunicate con tu distribuidor para que reestablezca tus datos de acceso </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <img src="/assets/images/faqs_plataforma.png" class="d-block mx-lg-auto img-fluid" alt="faqs plataforma" width="700" height="500" loading="lazy">
        </div>
    </div>
</div>
