/* banner servicios */

#serv-card {
    padding: 0;
    margin: 0;
}

.header-shape-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    background-image: url(/assets/images/svg/header-shape-1.svg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.header-shape-2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}


/* Fin banner Servicios */

.title-2 {
    font-weight: 600;
    font-size: 30px;
}

.swiper {
    width: 240px;
    height: 320px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.swiper-slide {
    background-color: #FFF;
    border: 1px solid #BBD0D8;
}


/* Recargas */

.telcel {
    border: 1px solid #2A8CEE;
}

.oui {
    border: 1px solid #464D5A;
}

.pillofon {
    border: 1px solid #b45559;
}

.unefon {
    border: 1px solid #FFC300;
}

.movistar {
    border: 1px solid #3EC121;
}

.att {
    border: 1px solid #39CDEE;
}

.virgin {
    border: 1px solid #e3231c;
}

.week {
    border: 1px solid #74b22f;
}

.wimotelecom {
    border: 1px solid #ed1c23;
}

.gugacom {
    border: 1px solid #1d8ec1;
}


/* Fin recargas */


/*  Servicios */

.telmex {
    border: 1.5px solid #2A8CEE;
}

.totalplay {
    border: 1.5px solid #EE6B2A
}

.megacable {
    border: 1px solid #0e6db3;
}

.cfe {
    border: 1px solid #1C8317;
}

.dish {
    border: 1px solid #EE1212;
}

.avon {
    border: 1px solid #B70061;
}

.televia {
    border: 1px solid #DAE552;
}

.tupperware {
    border: 1px solid #d004a8;
}

.natura {
    border: 1px solid #e6a229;
}


/* Fin servicios */


/* Inicio tarjetas regalos */

.tarjetas-r .swiper-slide {
    border: none;
}

.tarjetas-r .netflix {
    border: 1px solid #cb0922;
}


/* Fin tarjetas regalos */