<section class="products mt-5 wow animate__animated animate__fadeIn">

    <div class="container-fluid">
        <div class="serv-row row flex-lg-row-reverse align-items-center">

            <div class=" col-lg-6 products-img">
                <img src="assets/images/banner_productos.png" class="featurette-image img-fluid mx-auto" alt="banner productos" width="550" height="550" loading="lazy">
            </div>

            <div class="section-title col-lg-6">
                <h1 class="title" data-title="Nuestros Productos"> Tiempo Aire Y Pago de Servicios </h1>
                <p class="text">Vende lo que requieras para tu negocio todo en una sola plataforma, sin dar muchas vueltas, compruebalo tu mismo lo facil que es
                </p>
            </div>
        </div>
    </div>


    <div class="header-shape-1"></div>
    <div class="header-shape-2">
        <img src="assets/images/svg/header-shape-2.svg" alt="shape-2">
    </div>

</section>

<hr class="featurette-divider">

<!-- RECARGAS SECTION -->
<section class="recargas-section section">
    <div class="container-fluid">
        <div class="section-title">
            <h2 class="title">recargas</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-md-7 order-2 produt-content">
                <div class="container-content">
                    <div class="container-text">
                        <h3><span class="bx bx-transfer"></span>recarga a cualquier compañia con un unico saldo</h3>
                        <p>Con unico saldo vende recargas electrónicas a tus clientes a cualquier compañia de telefonia celular disponibles en México, Todo un sistema de recargas online gratuito, muy fácil de utilizar y que se adapta a tu negocio. </p>
                        <h3><span class="bx bx-devices"></span>modalidad de venta</h3>
                        <p> Elije la mejor forma que se adapte a tus necesidades, <strong>vende recargas electrónicas </strong> desde tu computadora, smartphone o bien via SMS gratuito. y empieza a generar un incremento de flujo de clientes a tu negocio.
                        </p>
                        <h3><span class="bx bx-award"></span>promociones</h3>
                        <p>Aprovechas las ofertas que Recargas Electrónicas pone a tu disposición, descubre y obten muchos beneficios que tenemos para ti</p>
                    </div>
                </div>
            </div>

            <div class="col-md-5 order-1 swiper-custom">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide telcel"> <img src="assets/images/icon-companies/telcel.png" alt="telcel"> </div>
                        <div class="swiper-slide oui"> <img src="assets/images/icon-companies/oui.png" alt="oui"> </div>
                        <div class="swiper-slide pillofon"> <img src="assets/images/icon-companies/pillofon.png" alt="pillofon"> </div>
                        <div class="swiper-slide unefon"> <img src="assets/images/icon-companies/unefon.png" alt="unefon"> </div>
                        <div class="swiper-slide movistar"> <img src="assets/images/icon-companies/movistar.png" alt="movistar"> </div>
                        <div class="swiper-slide att"> <img src="assets/images/icon-companies/att.png" alt="att"> </div>
                        <div class="swiper-slide virgin"> <img src="assets/images/icon-companies/virgin.png" alt="virgin"> </div>
                        <div class="swiper-slide week"> <img src="assets/images/icon-companies/weex.png" alt="week"> </div>
                        <div class="swiper-slide wimotelecom"> <img src="assets/images/icon-companies/wimotelecom.png" alt="wimotelecom"> </div>
                        <div class="swiper-slide gugacom"> <img src="assets/images/icon-companies/gugacom.png" alt="gugacom"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<hr class="featurette-divider">

<section class="services-section section">
    <div class="container-fluid">
        <div class="section-title">
            <h2 class="title">pago de servicios</h2>
        </div>

        <div class="row align-items-center">
            <div class="col-md-7 produt-content">
                <div class="container-content">
                    <div class="container-text">
                        <h3><span class="bx bx-timer"></span>ahorra tiempo</h3>
                        <p>paga todos los recibos de tus clientes con <strong>Recargas Electrónicas</strong> puedes cobrar +100 servicios y obtener ganancias al mismo tiempo.Configura la COMISIÓN POR SERVICIO AL CLIENTE para cada servicio.</p>
                        <h3><span class="bx bx-file"></span>reflejo de pago instantaneo</h3>
                        <p> Recargas Electrónicas cuenta con la tranquilidad de estar trabajando con un sistema seguro y confiable, todos sus datos personales y financieros se encuentran protegidos con nosotros y nuestro sitio web cuenta con un certificado
                            SSL
                        </p>
                        <h3><span class="bx bxs-badge-dollar"></span>Comisión por pago de servicio</h3>
                        <p>Reporte de ventas detallado por dia, semana o mes. Empieza a vender desde $300, recarga cuando quieras, sin pagos forzosos ni anualidades.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-5 swiper-custom">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide telmex"> <img src="assets/images/icon-companies/telmex.png" alt="telmex"> </div>
                        <div class="swiper-slide totalplay"> <img src="assets/images/icon-companies/totalplay.png" alt="totalplay"> </div>
                        <div class="swiper-slide megacable"> <img src="assets/images/icon-companies/megacable.png" alt="megacable"> </div>
                        <div class="swiper-slide cfe"> <img src="assets/images/icon-companies/cfe.png" alt="cfe"> </div>
                        <div class="swiper-slide dish"> <img src="assets/images/icon-companies/dish.png" alt="dish"> </div>
                        <div class="swiper-slide avon"> <img src="assets/images/icon-companies/avon.png" alt="avon"> </div>
                        <div class="swiper-slide televia"> <img src="assets/images/icon-companies/televia.png" alt="televia"> </div>
                        <div class="swiper-slide tupperware"> <img src="assets/images/icon-companies/tupperware.png" alt="tupperware"> </div>
                        <div class="swiper-slide natura"> <img src="assets/images/icon-companies/natura.png" alt="natura"> </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<hr class="featurette-divider">
<section class="gift-section section">
    <div class="container-fluid">
        <div class="section-title">
            <h2 class="title">tarjetas de regalo</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-md-5 swiper-custom">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"> <img src="assets/images/icon-companies/googleplay100.png" alt="googleplay"> </div>
                        <div class="swiper-slide"> <img src="assets/images/icon-companies/spotify115.png" alt="spotify"> </div>
                        <div class="swiper-slide"> <img src="assets/images/icon-companies/steam215.png" alt="steam"> </div>
                        <div class="swiper-slide"> <img src="assets/images/icon-companies/rappi100.png" alt="rappi"> </div>
                        <div class="swiper-slide"> <img src="assets/images/icon-companies/playstation_10dls.png" alt="playstation"> </div>
                        <div class="swiper-slide"> <img src="assets/images/icon-companies/blim109.png" alt="blim"> </div>
                        <div class="swiper-slide"> <img src="assets/images/icon-companies/amazon_gift100.png" alt="amazon"> </div>
                        <div class="swiper-slide"> <img src="assets/images/icon-companies/nintendo.png" alt="nintendo"> </div>
                        <div class="swiper-slide netflix"> <img src="assets/images/icon-companies/netflix.png" alt="netflix"> </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7 produt-content">
                <div class="container-content">
                    <div class="container-text">
                        <h3><span class="bx bx-joystick"></span>regala un mundo de entretenimiento </h3>
                        <p>Vende tiempo aire a cualquier compañia de tus clientes, paga los servicios que necesites & pines electrónicos, desde tu celular o computadora, todo lo que necesites en una sola plataforma adaptada a tus necesidades </p>
                        <h3><span class="bx bx-basket"></span>fácil de adquirir</h3>
                        <p> Recargas Electrónicas cuenta con la tranquilidad de estar trabajando con un sistema seguro y confiable, todos sus datos personales y financieros se encuentran protegidos con nosotros y nuestro sitio web cuenta con un certificado
                            SSL
                        </p>
                        <h3><span class="bx bxs-badge-dollar"></span>comision por pin electronico</h3>
                        <p>Reporte de ventas detallado por dia, semana o mes. Empieza a vender desde $300, recarga cuando quieras, sin pagos forzosos ni anualidades.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>