<section class="products mt-5 wow animate__animated animate__fadeIn">

    <div class="container-fluid">
        <div class="serv-row row flex-lg-row-reverse align-items-center">

            <div class=" col-lg-6 products-img">
                <picture>
                    <source type="image/webp" srcset="assets/images/banner_productos.webp" sizes="550px">
                    <source type="image/png" srcset="assets/images/banner_productos.png" sizes="550px">
                    <img src="assets/images/banner_productos.png" class="featurette-image img-fluid mx-auto" alt="banner productos" width="550" height="550" loading="lazy">
                </picture>
            </div>

            <div class="section-title col-lg-6">
                <h1 class="title" data-title="Nuestros Productos"> Tiempo Aire Y Pago de Servicios </h1>
                <p class="text">Vende lo que requieras para tu negocio todo en una sola plataforma, sin dar muchas vueltas, compruebalo tu mismo lo facil que es
                </p>
            </div>
        </div>
    </div>
    <div class="header-shape-1"></div>
    <div class="header-shape-2">
        <img src="assets/images/svg/header-shape-2.svg" alt="shape-2">
    </div>

</section>

<hr class="featurette-divider">

<!-- RECARGAS SECTION -->
<section class="recargas-section section wow animate__animated animate__fadeInUp">
    <div class="container-fluid">
        <div class="section-title">
            <h2 class="title">recargas</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-md-7 order-2 produt-content">
                <div class="container-content">
                    <div class="container-text">
                        <h3><span class="bx bx-transfer"></span>recarga a cualquier compañia con un unico saldo</h3>
                        <p>Con unico saldo vende recargas electrónicas a tus clientes a cualquier compañia de telefonia celular disponibles en México, Todo un sistema de recargas online gratuito, muy fácil de utilizar y que se adapta a tu negocio. </p>
                        <h3><span class="bx bx-devices"></span>modalidad de venta</h3>
                        <p> Elije la mejor forma que se adapte a tus necesidades, <strong>vende recargas electrónicas </strong> desde tu computadora, smartphone o bien via SMS gratuito. y empieza a generar un incremento de flujo de clientes a tu negocio.
                        </p>
                        <h3><span class="bx bx-award"></span>promociones</h3>
                        <p>Aprovechas las ofertas que Recargas Electrónicas pone a tu disposición, descubre y obten muchos beneficios que tenemos para ti</p>
                    </div>
                </div>
            </div>

            <div class="col-md-5 order-1 swiper-custom">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide telcel"> <img src="assets/images/icon-companies/telcel.png" class="img-fluid" width="258" alt="telcel"> </div>
                        <div class="swiper-slide oui"> <img src="assets/images/icon-companies/oui.png" class="img-fluid" width="258" alt="oui"> </div>
                        <div class="swiper-slide pillofon"> <img src="assets/images/icon-companies/pillofon.png" class="img-fluid" width="258" alt="pillofon"> </div>
                        <div class="swiper-slide unefon"> <img src="assets/images/icon-companies/unefon.png" class="img-fluid" width="258" alt="unefon"> </div>
                        <div class="swiper-slide movistar"> <img src="assets/images/icon-companies/movistar.png" class="img-fluid" width="258" alt="movistar"> </div>
                        <div class="swiper-slide att"> <img src="assets/images/icon-companies/att.png" class="img-fluid" width="258" alt="att"> </div>
                        <div class="swiper-slide virgin"> <img src="assets/images/icon-companies/virgin.png" class="img-fluid" width="258" alt="virgin"> </div>
                        <div class="swiper-slide week"> <img src="assets/images/icon-companies/weex.png" class="img-fluid" width="258" alt="week"> </div>
                        <div class="swiper-slide wimotelecom"> <img src="assets/images/icon-companies/wimotelecom.png" class="img-fluid" width="258" alt="wimotelecom"> </div>
                        <div class="swiper-slide gugacom"> <img src="assets/images/icon-companies/gugacom.png" class="img-fluid" width="258" alt="gugacom"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<hr class="featurette-divider">

<section class="services-section section wow animate__animated animate__fadeInUp">
    <div class="container-fluid">
        <div class="section-title">
            <h2 class="title">pago de servicios</h2>
        </div>

        <div class="row align-items-center">
            <div class="col-md-7 produt-content">
                <div class="container-content">
                    <div class="container-text">
                        <h3><span class="bx bx-timer"></span>Paga donde estés</h3>
                        <p>Desde tu casa o negocio realiza todos los pagos de los recibos de tus clientes accediendo a tu plataforma desde tu computadora o smartphone. Indica el numero de referencia del servicio a pagar y el monto. Listo asi de facil y sencillo!!
                        </p>
                        <h3><span class="bx bx-file"></span>Obtén las facilidades y evita contratiempos</h3>
                        <p>Envia por correo a tus clientes todos los ticket de los pago de servicios, o imprime el PDF desde tu plataforma.</p>
                        <h3><span class="bx bxs-badge-dollar"></span>Comisión por pago de servicio</h3>
                        <p>cobrar +100 servicios y obtener ganancias al mismo tiempo. Ofrece servicios extra que tu competencia no está ofertando.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-5 swiper-custom">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide telmex"> <img src="assets/images/icon-companies/telmex.png" class="img-fluid" width="250" alt="telmex"> </div>
                        <div class="swiper-slide totalplay"> <img src="assets/images/icon-companies/totalplay.png" class="img-fluid" width="250" alt="totalplay"> </div>
                        <div class="swiper-slide megacable"> <img src="assets/images/icon-companies/megacable.png" class="img-fluid" width="250" alt="megacable"> </div>
                        <div class="swiper-slide cfe"> <img src="assets/images/icon-companies/cfe.png" class="img-fluid" width="250" alt="cfe"> </div>
                        <div class="swiper-slide dish"> <img src="assets/images/icon-companies/dish.png" class="img-fluid" width="250" alt="dish"> </div>
                        <div class="swiper-slide avon"> <img src="assets/images/icon-companies/avon.png" class="img-fluid" width="250" alt="avon"> </div>
                        <div class="swiper-slide televia"> <img src="assets/images/icon-companies/televia.png" class="img-fluid" width="200" alt="televia"> </div>
                        <div class="swiper-slide tupperware"> <img src="assets/images/icon-companies/tupperware.png" class="img-fluid" width="250" alt="tupperware"> </div>
                        <div class="swiper-slide natura"> <img src="assets/images/icon-companies/natura.png" class="img-fluid" width="250" alt="natura"> </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<hr class="featurette-divider">
<section class="gift-section section wow animate__animated animate__fadeInUp">
    <div class="container-fluid">
        <div class="section-title">
            <h2 class="title">tarjetas de regalo</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-md-5 swiper-custom">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"> <img src="assets/images/icon-companies/googleplay100.png" class="img-fluid" width="258" alt="google play"> </div>
                        <div class="swiper-slide"> <img src="assets/images/icon-companies/spotify115.png" class="img-fluid" width="258" alt="spotify"> </div>
                        <div class="swiper-slide"> <img src="assets/images/icon-companies/steam215.png" class="img-fluid" width="258" alt="steam"> </div>
                        <div class="swiper-slide"> <img src="assets/images/icon-companies/rappi100.png" class="img-fluid" width="258" alt="rappi"> </div>
                        <div class="swiper-slide"> <img src="assets/images/icon-companies/playstation_10dls.png" class="img-fluid" width="258" alt="playstation"> </div>
                        <div class="swiper-slide"> <img src="assets/images/icon-companies/blim109.png" class="img-fluid" width="258" alt="blim"> </div>
                        <div class="swiper-slide"> <img src="assets/images/icon-companies/amazon_gift100.png" class="img-fluid" width="258" alt="amazon"> </div>
                        <div class="swiper-slide"> <img src="assets/images/icon-companies/nintendo.png" class="img-fluid" width="258" alt="nintendo"> </div>
                        <div class="swiper-slide netflix"> <img src="assets/images/icon-companies/netflix.png" class="img-fluid" width="258" alt="netflix"> </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7 produt-content">
                <div class="container-content">
                    <div class="container-text">
                        <h3><span class="bx bx-joystick"></span>regala un mundo de entretenimiento </h3>
                        <p>Vende tarjetas de regalo (gift cards) y ofreceles a tus clientes todo un mundo de entretenimiento e incrementan tus ganancias por la venta de cada pin electrónico </p>
                        <h3><span class="bx bx-basket"></span>fácil de adquirir</h3>
                        <p>Comience a <strong>vender tarjetas de regalo</strong> con tan solo unos cuantos clics y disfrute de las ganacias que obtenga. Seleccione la tarjeta de regalo a vender e indica algun numero telefonicó de tu cliente y listo!
                        </p>
                        <h3><span class="bx bxs-badge-dollar"></span>comisión por pin electrónico</h3>
                        <p>Obten una ganancia extra por la venta de cada pin electrónico y ofreceles a tus clientes la forma más práctica de regalar un mundo de entretenimineto.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>