<div class="services">
    <!-- heading -->
    <div class="s-heading">
        <h2 class="s-heading-title">ser
            <font color="#4a90e2">vices</font>
        </h2>
        <p class="s-heading-txt">we provider th best in class for out customer</p>
    </div>
    <!-- services box container -->
    <div class="s-box-container">
        <!-- box -->
        <div class="s-box">
            <!-- img -->
            <img src="../../../assets/svg/desktop.svg" alt="desktop">

            <!-- services name -->
            <p class="title-card"> Desktop</p>

            <!-- details -->
            <p class="txt-card">Recarga & paga servicios de cualquier compañia desde tu computadora</p>

            <!-- btn -->
            <a href="#" class="s-btn">Leer mas</a>
        </div>
    </div>
</div>