<div class="p-3 mb-12 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Vende Recargas Electronicas 7% de comisión Fija en todos sus depositos</h1>
        <p class="col-md-12 fs-4">
            Pago de servicios, pines y recargas electrónicas de todas las compañías principales México, usted venderá tiempo aire Multiregion de las principales compañías solamente necesita usted tener un equipo de computo, smartphone o tablet con conexión a Internet,
            o un teléfono Celular de las principales compañías de México para poder ofrecer el servicio a sus clientes. Olvídese de todas las opciones confusas que encuentra en Internet y unase a los ganadores, contáctenos y con gusto solucionamos todas
            sus necesidades sobre la venta de tiempo aire y pago de servicios. Tenemos el respaldo de más de 35,000 puntos de venta en toda la república. Más de 10 años en el mercado</p>
        <button class="btn btn-primary btn-lg" type="button">Registrarme ahora!</button>
    </div>
</div>