/* Estilos Generales */

.title-2 {
    font-weight: 600;
    font-size: 30px;
}

.swiper {
    width: 240px;
    height: 320px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.swiper-slide:nth-child(1n) {
    background-color: #FFF;
}

.swiper-slide:nth-child(2n) {
    background-color: #FFF;
}

.swiper-slide:nth-child(3n) {
    background-color: #FFF;
    border: 1px solid #A61B34;
}

.swiper-slide:nth-child(4n) {
    background-color: #FFF;
    border: 1px solid #F2B705;
}

.swiper-slide:nth-child(5n) {
    background-color: #FFF;
    border: 1px solid #038C33;
}

.swiper-slide:nth-child(6n) {
    background-color: #FFF;
    border: 1px solid #4AA2D9;
}

.swiper-slide:nth-child(7n) {
    background-color: #FFF;
    border: 1px solid #D91E1E;
}

.swiper-slide:nth-child(8n) {
    background-color: #FFF;
    border: 1px solid #70AF30;
}

.swiper-slide:nth-child(9n) {
    background-color: #FFF;
    border: 1px solid#F21D2F;
}

.swiper-slide:nth-child(10n) {
    background-color: #FFF;
    border: 1px solid #0583F2;
}


/* services card-2 */