<!-- 
<div class="swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="../../../assets/images/icon-companies/att.png" alt=""></div>
        <div class="swiper-slide"><img src="../../../assets/images/icon-companies/movistar.png" alt=""></div>
        <div class="swiper-slide"><img src="../../../assets/images/icon-companies/telcel.png" alt=""></div>
        <div class="swiper-slide"><img src="../../../assets/images/icon-companies/unefon.png" alt=""></div>
        <div class="swiper-slide"><img src="../../../assets/images/icon-companies/oui.png" alt=""></div>
        <div class="swiper-slide"><img src="../../../assets/images/banner1.jpg" alt=""></div>
    </div>
    <div class="swiper-pagination"></div>
</div> -->
<!-- Add Pagination -->


<!-- Swiper -->
<div class="swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/telcel.png" alt="telcel"> </div>
        <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/axtel.png" alt="axtel"> </div>
        <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/unefon.png" alt="unefon"> </div>
        <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/movistar.png" alt="movistar"> </div>
        <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/att.png" alt="att"> </div>
        <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/virgin.png" alt="virgin"> </div>
        <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/weex.png" alt="week"> </div>
        <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/wimotelecom2.png" alt="wimontelecom2"> </div>
        <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/gugacom.png" alt="gugacom"> </div>

    </div>
</div>