<div class="container-fluid col-xxl-8 px-4 py-3 rounded-3 border shadow-lg" id="serv-card">

    <div class="serv-row row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="../../../assets/images/banner_serv4.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="serv-content col-lg-6">
            <p class="serv-title display-5 fw-bold lh-1 mb-3 text-center">Pagar servicios nunca fue tan facil</p>
            <p class="text lead text-center">Paga cualquier servicio de tu preferencia
            </p>
        </div>
    </div>
</div>

<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center wow animate__animated animate__fadeInDown">
    <div class="card-sev-texts col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="card-sev-title display-4 lh-1">recarga a cualquier compañia</h1>
        <p class="text lead"> Recarga y obten una comision fija sin importar el monto.
        </p>
    </div>
    <div class="col-md-5">
        <!-- Swiper -->
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/telcel.png" alt="telcel"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/pillofon.png" alt="pillofon"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/unefon.png" alt="unefon"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/movistar.png" alt="movistar"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/att.png" alt="att"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/virgin.png" alt="virgin"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/weex.png" alt="week"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/wimotelecom2.png" alt="wimontelecom2"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/gugacom.png" alt="gugacom"> </div>
            </div>
        </div>

    </div>
</div>

<hr class="featurette-divider">

<div class="row  p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center wow animate__animated animate__fadeInUp">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Paga servicios <span class="text-muted">compruebalo tu mismo lo facil que es</span></h2>
        <p class="text">Paga cualquier servicio Agua, Luz, y muchos mas...</p>
    </div>
    <div class="col-md-5 order-md-1">
        <!-- Swiper -->
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/telmex.png" alt="telmex"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/totalplay.png" alt="totalplay"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/megacable.png" alt="megacable"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/cfe.png" alt="cfe"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/dish.png" alt="dish"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/avon.png" alt="avon"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/televia.png" alt="televia"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/tupperware.png" alt="tupperware"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/natura.png" alt="natura"> </div>
            </div>
        </div>

    </div>
</div>


<hr class="featurette-divider">

<div class="row  p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center wow animate__animated animate__fadeInUp">
    <div class="col-md-7">
        <h2 class="featurette-heading">tarjetas de regalo <span class="text-muted">Vende lo que tus clientes necesiten</span></h2>
        <p class="lead"> Vende tarjetas de regalo de cualquier precio google play, netflix y muchos mas..</p>
    </div>
    <div class="col-md-5">
        <!-- Swiper -->
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/googleplay100.png" alt="googleplay"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/spotify115.png" alt="spotify"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/steam215.png" alt="steam"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/rappi100.png" alt="rappi"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/playstation_10dls.png" alt="playstation"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/blim109.png" alt="blim"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/amazon_gift100.png" alt="amazon"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/nintendo.png" alt="nintendo"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/netflix1000.png" alt="netflix"> </div>
            </div>
        </div>

    </div>
</div>