<div class="container-fluid col-xxl-8 px-4 py-3 rounded-3 border shadow-lg  wow animate__animated animate__fadeIn" id="serv-card">
    <div class="serv-row row flex-lg-row-reverse align-items-center g-5 py-5">

        <div class="col-10 col-sm-8 col-lg-6">
            <img src="../../../assets/images/banner_serv4.png" class="featurette-image img-fluid mx-auto" alt="banner_servicios" width="700" height="500" loading="lazy">
        </div>


        <div class="section-header col-lg-6">
            <h1 class="title" data-title="Nuestros Servicios"> Tiempo Aire Y Pago de Servicios </h1>
            <p class="text">Vende Tiempo Aire & Paga servicios y obten una comisión fija, sin dar muchas vueltas, compruebalo tu mismo lo falcil que es!!
            </p>
        </div>
    </div>
    <div class="container">
        <div class="header-shape-1"></div>
        <div class="header-shape-2">
            <img src="../../../assets/images/svg/header-shape-2.svg" alt="">
        </div>
    </div>
</div>

<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center recargas wow animate__animated animate__fadeInDown">
    <div class="card-sev-texts col-lg-7 p-3 p-lg-5 pt-lg-3">
        <p class="featurette-heading title-2">recarga a cualquier compañia</p>
        <p class="text"> Recarga y obten una comision fija en todas tus recargas.
        </p>
    </div>
    <div class="col-md-5">
        <!-- Swiper -->
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/telcel.png" alt="telcel"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/pillofon.png" alt="pillofon"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/unefon.png" alt="unefon"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/movistar.png" alt="movistar"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/att.png" alt="att"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/virgin.png" alt="virgin"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/weex.png" alt="week"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/wimotelecom2.png" alt="wimontelecom2"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/gugacom.png" alt="gugacom"> </div>
            </div>
        </div>
    </div>
</div>

<hr class="featurette-divider">

<div class="row  p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center servicios wow animate__animated animate__fadeInUp">
    <div class="col-md-7 order-md-2">
        <p class="title-2">Paga todos los servicios </p>
        <p class="text">Paga cualquier servicio Agua, Luz, y muchos mas...</p>
    </div>
    <div class="col-md-5 order-md-1">
        <!-- Swiper -->
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/telmex.png" alt="telmex"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/totalplay.png" alt="totalplay"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/megacable.png" alt="megacable"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/cfe.png" alt="cfe"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/dish.png" alt="dish"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/avon.png" alt="avon"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/televia.png" alt="televia"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/tupperware.png" alt="tupperware"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/natura.png" alt="natura"> </div>
            </div>
        </div>

    </div>
</div>


<hr class="featurette-divider">

<div class="row  p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center pines wow animate__animated animate__fadeInUp">
    <div class="col-md-7">
        <p class="title-2">Tarjetas de regalo Vende lo que tus clientes necesiten</p>
        <p class="text"> Vende tarjetas de regalo Google Play, Netflix y muchos mas..</p>
    </div>
    <div class="col-md-5">
        <!-- Swiper -->
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/googleplay100.png" alt="googleplay"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/spotify115.png" alt="spotify"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/steam215.png" alt="steam"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/rappi100.png" alt="rappi"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/playstation_10dls.png" alt="playstation"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/blim109.png" alt="blim"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/amazon_gift100.png" alt="amazon"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/nintendo.png" alt="nintendo"> </div>
                <div class="swiper-slide"> <img src="../../../assets/images/icon-companies/netflix1000.png" alt="netflix"> </div>
            </div>
        </div>

    </div>
</div>