<!-- SECTION PRESENTATION -->
<section class="presentation-content wow animate__animated animate__fadeIn">
    <div class="big-wrapper light">
        <picture>
            <source type="image/webp" srcset="assets/images/shape.webp" sizes="500px">
            <source type="image/png" srcset="assets/images/shape.png" sizes="500px">
            <img src="assets/images/shape.png" class="shape img-fluid" alt="shape" width="500">
        </picture>

        <div class="showcase-area">
            <div class="container-p">
                <div class="left">
                    <div class="big-title">
                        <h1>Gana una comisión 7%. En la venta de tiempo aire & pago de servicios</h1>
                    </div>
                    <h2 class="text">
                        Vende Recargas (Por Internet, WhatsApp, desde tu Smartphone) o vía SMS gratuito. Empieza generar flujo de clientes a tu negocio
                    </h2>
                    <div class="cta">
                        <a routerLink="/inscripcion" class="btn-insc">Inscribirme</a>
                    </div>
                </div>

                <div class="right">
                    <picture>
                        <source type="image/webp" srcset="assets/images/person.webp" sizes="738px">
                        <source type="image/png" srcset="assets/images/person.png" sizes="738px">
                        <img src="assets/images/person.png" alt="Person image" class="person" width="738">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SECTION ADVANTAGE -->
<section class="advantage mt-5 mb-5">
    <div class="container-fluid">


        <div class="card2 row g-0 wow animate__animated animate__fadeInUp">
            <div class="section-title mt-3">
                <h3 class="title" data-title="Beneficios">¿Por qué te conviene quedarte con nosotros?</h3>
            </div>

            <div class="col-md-8 advantage-content">
                <div class="advantage-description">
                    <ul class="advantage-list">
                        <li>
                            <p class="list-title"><span class="bx bxs-badge-check"></span> estabilidad y fiabilidad</p>
                            <p class="text"> <strong>Recargas Electrónicas</strong> cuenta con el respaldo de miles de clientes y más de 20 años ofreciendo nuestros mejores servicios en todo el territorio mexicano.
                            </p>
                        </li>

                        <li>
                            <p class="list-title"><span class="bx bxs-badge-check"></span>Constante innovación</p>
                            <p class="text">Porque nos gusta escucharte!! estamos en constante innovación agregando mas compañias de tiempo aire y pago de servicios.</p>
                        </li>

                        <li>
                            <p class="list-title"><span class="bx bxs-badge-check"></span>diferentes medios de venta</p>
                            <p class="text">vende recargas y pago de servicios accediendo a tu plataforma desde tu computadora, descargando la App desde la tienda oficial. O bien desde tu telefono celular via SMS. ofrecemos la mejor opción que se adapta a tu negocio!!.
                            </p>
                        </li>

                        <li>
                            <p class="list-title"><span class="bx bxs-badge-check"></span>sin penalizaciones ni anualidades forzosas</p>
                            <p class="text">Has crecer tu negocio y recarga como y donde puedas, sin pago forzosos. Invierte poco y empieza a ganar mucho.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 advantage-img">
                <picture>
                    <source type="image/webp" srcset="assets/images/banner_ventajas.webp" sizes="450px">
                    <source type="image/png" srcset="assets/images/banner_ventajas.png" sizes="450px">
                    <img src="assets/images/banner_ventajas.png" alt="Ventajas" class="img-fluid" width="450" loading="lazy">
                </picture>
            </div>
        </div>
    </div>
</section>
<!-- FIN ADVANTAGE -->


<!-- SECTION FOR BUSINESS -->
<section class="container-fluid for-business mt-5 wow animate__animated animate__fadeInUp">

    <div class="section-title">
        <h2 class="title" data-title="Para tu negocio">para todo tipo de negocio y cadenas comerciales</h2>
        <p class="text">Todo lo que necesitas en una sola plataforma!!</p>
    </div>

    <div class="container-content">
        <picture>
            <source type="image/webp" srcset="assets/images/banner_negocio.webp" sizes="636px">
            <source type="image/png" srcset="assets/images/banner_negocio.png" sizes="636px">
            <img src="assets/images/banner_negocio.png" class="img-businnes img-fluid" width="636" height="837" alt="banner negocio" loading="lazy">
        </picture>
        <div class="container-text">
            <h3><span class="bx bx-badge-check"></span>todo en uno</h3>
            <p class="text">Vende tiempo aire a cualquier compañia de tus clientes, paga los servicios que necesites & pines electrónicos, desde tu celular o computadora, todo lo que necesites en una sola plataforma adaptada a tus necesidades </p>
            <h3><span class="bx bx-badge-check"></span>seguro y confiable</h3>
            <p class="text"> Recargas Electrónicas cuenta con la tranquilidad de estar trabajando con un sistema seguro y confiable, todos sus datos personales y financieros se encuentran protegidos con nosotros y nuestro sitio web cuenta con un certificado SSL</p>
            <h3><span class="bx bx-badge-check"></span>cuentas claras</h3>
            <p class="text">Reporte de ventas detallado por dia, semana o mes. Empieza a vender desde un monto minimo de $300 & recarga cuando quieras, sin pagos forzosos ni anualidades.</p>

        </div>
    </div>
</section>
<!-- FIN FOR BUSINESS -->


<!-- SECTION STATISTICS -->
<section class="statistics mt-3">

    <div class="records wow animate__animated animate__fadeInUp">

        <div class="container">
            <div class="wrap ocultar">
                <div class="record-circle">
                    <p class="number" data-num="40000"> +{{ clientes }}</p>
                    <p class="sub-title"> Clientes Felices</p>
                </div>
            </div>

            <div class="wrap">
                <div class="record-circle active">
                    <p class="number" data-num="18000">+{{ ventas }}</p>
                    <p class="sub-title"> Puntos de Venta </p>
                </div>
            </div>

            <div class="wrap">
                <div class="record-circle">
                    <p class="number" data-num="100">+{{ servicios }}</p>
                    <p class="sub-title"> Servicios</p>
                </div>
            </div>

            <div class="wrap">
                <div class="record-circle">
                    <p class="number" data-num="20">+{{ anos }}</p>
                    <p class="sub-title"> Años en el Mercado</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FIN STATISTICS -->


<!-- SECTION OUR PRODUCTS -->
<section class="our-products section mt-5 mb-5">
    <div class="container wow animate__animated animate__fadeInUp">

        <div class="section-title">
            <h3 class="title">¿Cómo puedo vender en mi negocio?</h3>
            <p class="text">
                Elije la mejor forma que se adapte a ti para vender
            </p>
        </div>
        <div class="row g-3 justify-content-evenly">

            <div class="col-12 col-md-6 col-lg-4 card-item">
                <div class="bar"></div>
                <div class="card-body">
                    <img src="assets/images/svg/desktop.svg" class="card-img-top" alt="desktop" width="320px">
                    <div class="card-description">
                        <h4 class="title-description">Desktop</h4>
                        <p class="text">Accede a tu plataforma desde tu navegador de tu preferencia</p>
                    </div>
                </div>

            </div>

            <div class="col-12 col-md-6 col-lg-4 card-item ">
                <div class="bar "></div>
                <div class="card-body ">
                    <img src="assets/images/svg/phone.svg " class="card-img-top" alt="phone" width="320px">
                    <div class="card-description ">
                        <h4 class="title-description">SmartPhone</h4>
                        <p class="text">Descarga la App para tu celular desde la tienda oficial</p>

                    </div>
                </div>

            </div>

            <div class="col-12 col-md-6 col-lg-4 card-item ">
                <div class="bar "></div>
                <div class="card-body ">
                    <img src="assets/images/svg/sms.svg " class="card-img-top" alt="sms" width="320px">
                    <div class="card-description ">
                        <h4 class="title-description">SMS</h4>
                        <p class="text">Desde tu telefono movil realiza recargas enviando un simple SMS</p>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- FIN OUR PRODUCTS -->


<!-- SECTION ABOUT US -->
<section class="about-us ">
    <div class="about-container px-3 py-2 col-xxl-8 wow animate__animated animate__fadeInUp ">
        <div class="row flex-lg-row-reverse align-items-center justify-content-center g-5 py-2 ">
            <div class="col-lg-6 about-img">
                <picture>
                    <source type="image/webp" srcset="assets/images/logos_companies.webp" sizes="500px">
                    <source type="image/png" srcset="assets/images/logos_companies.png" sizes="500px">
                    <img src="assets/images/logos_companies.png " class="d-block mx-lg-auto img-fluid " width="500 " height="500 " loading="lazy" alt="compañias ">
                </picture>
            </div>
            <div class="col-lg-6 about-description">
                <h2 class="about-title lh-1">Recarga & Paga Servicios De Cualquier Compañia</h2>
                <p class="text ">Ofrecemos la <strong>venta de tiempo airede celulares de las principales compañías de México.</strong> Usted puede vender tiempo aire desde su tienda, farmacia, ciber, casa, etc. únicamente necesita tener un dispositivo con acceso a Internet
                    (pagina web) o un celular para la venta vía mensaje de texto. No esperes mas y contrata nuestros servicios e incrementa tus ventas considerablemente con esta gran oportunidad de atraer nuevos clientes a tu negocio.
                </p>
                <a [routerLink]="['/productos']" class="btn btn-primary btn-lg">Leer Más</a>
            </div>
        </div>
    </div>
</section>

<!-- FIN ABOUT US-->


<!-- SECTION REGISTRATION PROCESS -->
<section class="registration">
    <div class="container px-4 py-5 wow animate__animated animate__fadeInUp">
        <div class="section-title ">
            <h3 class="title " data-title="Proceso De Incripción ">¿Cómo me puedo inscribir?</h3>
        </div>
        <div class="registration-content row g-4 py-5 row-cols-1 row-cols-lg-3 ">
            <div class="registration-item col d-flex align-items-start ">
                <div class="registration-img icon-square bg-light text-dark flex-shrink-0 me-3 ">
                    <picture>
                        <source type="image/webp" srcset="assets/images/icon-registro.webp">
                        <source type="image/png" srcset="assets/images/icon-registro.png">
                        <img src="assets/images/icon-registro.png " width="20" height="30" alt="registro">
                    </picture>
                </div>
                <div>
                    <div class="item-description ">
                        <p class="item-title ">Llena el formulario</p>
                        <p class="text ">Completa el formulario con los datos requeridos en la sección inscripción.</p>
                    </div>

                </div>
            </div>
            <div class="registration-item col d-flex align-items-start ">
                <div class="registration-img icon-square bg-light text-dark flex-shrink-0 me-3 ">
                    <picture>
                        <source type="image/webp" srcset="assets/images/icon-email.webp">
                        <source type="image/png" srcset="assets/images/icon-email.png">
                        <img src="assets/images/icon-email.png" width="20" height="30" alt="email">
                    </picture>
                </div>
                <div>
                    <div class="item-description ">
                        <p class="item-title ">Espera nuestro correo</p>
                        <p class="text ">Con los datos que proporciones, nos pondremos en contacto contigo para brindarte tus datos de acceso a la plataforma.
                        </p>
                    </div>

                </div>
            </div>
            <div class="registration-item col d-flex align-items-start ">
                <div class="item-img icon-square bg-light text-dark flex-shrink-0 me-3 ">
                    <picture>
                        <source type="image/webp" srcset="assets/images/icon-login.webp">
                        <source type="image/png" srcset="assets/images/icon-login.png">
                        <img src="assets/images/icon-login.png " width="30 " height="30" alt="login">
                    </picture>
                </div>
                <div>

                    <div class="item-description ">
                        <p class="item-title ">Ingresa a tu plataforma</p>
                        <p class="text "> Ingresa a tu plaforma con tu numero de usuario y contraseña, indicados en el correo. </p>
                    </div>

                </div>
            </div>
            <div class="registration-item col d-flex align-items-start ">
                <div class="item-img icon-square bg-light text-dark flex-shrink-0 me-3 ">
                    <picture>
                        <source type="image/webp" srcset="assets/images/icon-credit-card.webp">
                        <source type="image/png" srcset="assets/images/icon-credit-card.png">
                        <img src="assets/images/icon-credit-card.png" width="20 " height="30 " alt="credit card ">
                    </picture>
                </div>
                <div>
                    <div class="item-description ">
                        <p class="item-title ">Deposita o Transfiere</p>
                        <p class="text ">Verifica en tu portal todas las cuentas y paga a la banca de tu preferencia. </p>
                    </div>
                </div>
            </div>

            <div class="registration-item col d-flex align-items-start ">
                <div class="item-img icon-square bg-light text-dark flex-shrink-0 me-3 ">
                    <picture>
                        <source type="image/webp" srcset="assets/images/icon-notificacion.webp">
                        <source type="image/png" srcset="assets/images/icon-notificacion.png">
                        <img src="assets/images/icon-notificacion.png" width="20" height="30" alt="notificación ">
                    </picture>
                </div>
                <div>

                    <div class="item-description ">
                        <p class="item-title ">Notifica</p>
                        <p class="text ">Notifica tus Depositos & transferencias a tu distribuidor via WhatsApp o en la sección Reportar depositos.</p>
                    </div>

                </div>
            </div>

            <div class="registration-item col d-flex align-items-start ">
                <div class="item-img icon-square bg-light text-dark flex-shrink-0 me-3 ">
                    <picture>
                        <source type="image/webp" srcset="assets/images/icon-recompensa.webp">
                        <source type="image/png" srcset="assets/images/icon-recompensa.png">
                        <img src="assets/images/icon-recompensa.png" width="20" height="30" alt="beneficios">
                    </picture>
                </div>
                <div>
                    <div class="item-description ">
                        <p class="item-title ">Difruta de los beneficios</p>
                        <p class="text ">Obten una comisión por cada venta de recargas, pago de servicios y tarjetas electronicas. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FIN REGISTRATION PROCESS -->