<div class="section-header mt-5 mb-3 wow animate__animated animate__fadeIn">
    <h1 class="title" data-title="Reporte de Deposito"> Recargaki & Planetaemx</h1>
    <p class="text"> Si el pago se reporta en la plataforma fuera del horario establecido, el pago se reflejará en el siguiente horario hábil de manera automática si los datos son correctos.</p>
</div>

<iframe class=" wow animate__animated animate__fadeInUp" width="100%" height="950" allowTransparency="true" frameborder="0" scrolling="no" style="border:none" src="https://www.emailmeform.com/builder/embed/HZ0imF2R59" allow="camera"><a href="https://www.emailmeform.com/builder/embed/HZ0imF2R59">Fill out form.</a></iframe>