<!-- navbar menu -->
<nav class="mi-nav navbar sticky-top navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active">
            <img src="../../../assets/images/logo_recargas_blanco.jpg" height="24%">
        </a>
        <button class="navbar-toggler mb-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="nav nav-pills">
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link link tebel-sedang" [routerLink]="['/home']">Home &nbsp;&nbsp;</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link tebel-sedang" [routerLink]="['servicios']">Servicios &nbsp;&nbsp;</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link tebel-sedang" [routerLink]="['reportes']">Reportar Depositos &nbsp;&nbsp;</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link tebel-sedang" [routerLink]="['inscripcion']">Inscripción &nbsp;&nbsp;</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link link tebel-sedang" [routerLink]="['contacto']">Contacto &nbsp;&nbsp;</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Ayuda
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" [routerLink]="['faqs']">Preguntas Frecuentes</a></li>
                        <li><a class="dropdown-item" [routerLink]="['faqs']">¿Quienes Somos?</a></li>
                    </ul>
                </li>


                <!-- <li class="nav-item dropdown">
                    <a class="nav-link link tebel-sedang" [routerLink]="['contacto']">Contacto &nbsp;&nbsp;</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link active tebel-sedang rounded-pill bg-ungu shadow" href="#"> Inscribirme </a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>