<!-- navbar menu -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/images/vector-logo.png" height="100%">
        </a>
        <button class="navbar-toggler mb-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link link tebel-sedang" href="#">Home &nbsp;&nbsp;</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link tebel-sedang" href="#">Nuestros Servicios &nbsp;&nbsp;</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link tebel-sedang" href="#">Reportar Depositos &nbsp;&nbsp;</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link tebel-sedang" href="#">Inscripción &nbsp;&nbsp;</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link link tebel-sedang" href="#">Contacto &nbsp;&nbsp;</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link active tebel-sedang rounded-pill bg-ungu shadow" href="#"> Inscribirme </a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>


<!-- lading page -->
<main>
    <div class="big-wrapper light">
        <img src="../../../assets/images/shape.png" alt="" class="shape" />



        <div class="showcase-area">
            <div class="container">
                <div class="left">
                    <div class="big-title">
                        <h1>Gana una comision fija,</h1>
                        <h2>En la venta & pago de servicios</h2>
                    </div>
                    <p class="text">
                        Vende Recargas (Por Internet, WhatsApp, desde tu Smarphone) o via SMS gratuito.
                    </p>
                    <div class="cta">
                        <a href="#" class="btn">Inscribirme</a>
                    </div>
                </div>

                <div class="right">
                    <img src="../../../assets/images/person.png" alt="Person Image" class="person" />
                </div>
            </div>
        </div>


    </div>
</main>