<router-outlet></router-outlet>

<app-navbar></app-navbar>

<app-carousel></app-carousel>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic fugiat, assumenda odio atque exercitationem consequatur dolore error amet expedita? Animi provident distinctio aliquam. Nobis repudiandae autem officia praesentium fugit cupiditate, ullam deleniti
cumque illum mollitia provident itaque voluptatum nulla necessitatibus aperiam libero numquam. Nihil fugit distinctio reiciendis, doloribus deleniti laborum? Quos modi a itaque! Quasi, magnam laborum maiores sit iure iste dolorem perspiciatis commodi?
Soluta dolores est adipisci! Unde dolor odit exercitationem molestias fuga reiciendis cupiditate doloribus nisi aperiam asperiores, vitae nostrum ipsam! Aut ipsam recusandae consectetur voluptatibus voluptates fugiat dolores iure ea? Error ratione quae
minus amet consectetur impedit voluptas distinctio pariatur? Iste, non est ut ratione earum possimus molestiae deserunt officia saepe ducimus! Sed consectetur sequi dolore aliquam maxime? Magnam voluptas accusamus eius debitis cumque? Aliquam obcaecati
explicabo fuga velit reiciendis sed provident ipsum est, dolores maxime reprehenderit recusandae id autem ducimus ipsa, alias quos. Voluptatem explicabo eaque voluptate beatae voluptates minus repudiandae quaerat natus quisquam odio incidunt, cumque doloribus,
pariatur sit animi vel? Consequatur ipsam vitae veritatis expedita sapiente voluptatibus pariatur natus nam, non amet architecto aliquam odio molestiae? Eum deleniti tenetur distinctio id autem quas ut reiciendis minima alias, nisi quidem cupiditate voluptatum
illum ipsa corporis incidunt ex maxime in magni quae odit dolorem. Sunt magni eveniet quod. Voluptate veniam voluptates, voluptatum officiis delectus dolor in ea architecto aperiam? Accusantium velit enim, suscipit maiores esse quos repudiandae ex possimus
archid voluptas explicabo ipsa. Illum explicabo odio mollitia similique repellat dolor enim iusto quam ea nihil animi sint vel ipsa atque aut ullam, illo iste ducimus a rerum tempore! Natus eveniet autem optio incidunt dicta possimus cupiditate porro
nesciunt repudiandae sit. Itaque necessitatibus fuga odit quaerat molestias soluta?
<app-footer></app-footer>