.bottom-up {
    width: 50px;
    height: 50px;
    background-color: #46a2fd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    left: 50px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 100ms ease;
    z-index: 100;
}

.bottom-up:hover {
    transform: scale(1.1);
    border-color: rgba(0, 0, 0, 0.1);
}

#container-main {
    padding: 0;
}


/* menu contact */

.container-contact {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100;
}

#btn-menu {
    display: none;
}

.redes a,
.btn-menu label {
    display: block;
    text-decoration: none;
    background: #cc2b2b;
    color: #fff;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition: all 500ms ease;
}

.redes a {
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
    font-size: 30px;
}

.redes a:nth-child(1) {
    background-color: #00BB2D;
}


/* .redes a:nth-child(2) {
    background-color: #EE7A2F;
} */


/* .redes a:nth-child(1) {
    background-color: #006AFF;
} */

.redes a:nth-child(2) {
    background-color: #34495E;
}

#btn-menu:checked~.redes a {
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}

.btn-menu label {
    cursor: pointer;
    background: #f44141;
    font-size: 23px;
    animation: sombra 1.5s infinite;
}

#btn-menu:checked~.btn-menu label {
    font-size: 25px;
    animation: none;
}

.redes a:hover {
    background: #3A3D40;
}


/* Animaciones */

@keyframes sombra {
    0% {
        box-shadow: 0 0 0 0 rgba(30, 136, 229, 1);
    }
    100% {
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}


/* Responsive buttom-up */

@media (max-width: 450px) {
    .bottom-up {
        width: 50px;
        height: 50px;
        bottom: 100px;
    }
}


/* contac-lsit */