<div class="container-fluid" id="container-main">
    <app-navbar></app-navbar>

    <div class="bottom-up animate__animated animate__fadeInUp" *ngIf="showButtom" (click)="onScrollTop()">
        <i class="fas fa-chevron-up"></i>
    </div>

    <div class="container-contact">
        <input type="checkbox" id="btn-menu">
        <div class="redes">
            <a href="https://wa.me/522712141938" class="bx bxl-whatsapp"></a>
            <!-- <a href="#" class="bx bx-conversation"></a> -->
            <!-- <a href="#" class="bx bxl-messenger"></a> -->
            <a href="tel:2717140102" class="bx bx-phone-call"></a>
        </div>
        <div class="btn-menu">
            <label for="btn-menu" class="bx bx-menu-alt-right"></label>
        </div>
    </div>
    <router-outlet (activate)="onScrollTop()"></router-outlet>
</div>