<!-- lading page -->
<main class="wow animate__animated animate__fadeIn">
    <div class="big-wrapper light">
        <img src="../../../assets/images/shape.png" alt="" class="shape" />

        <div class="showcase-area">
            <div class="container">
                <div class="left">
                    <div class="big-title">
                        <h1>Gana una comision fija, En la venta & pago de servicios</h1>
                    </div>
                    <p class="text">
                        Vende Recargas (Por Internet, WhatsApp, desde tu Smarphone) o via SMS gratuito.
                    </p>
                    <div class="cta">
                        <a href="#" class="btn-insc">Inscribirme</a>
                    </div>
                </div>

                <div class="right animate__animated animate__fadeInRight">
                    <img src="../../../assets/images/person.png" alt="Person Image" class="person" />
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Fin lading page -->

<!-- card-2 Ventajas -->
<div class="card2 row g-0 mt-5 mb-5 wow animate__animated animate__fadeInRight">
    <div class="col-md-8">

        <img src="../../../assets/images/banner_venta.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="card2-col col-md-4">
        <div class="card-body">
            <h5 class="card-title">¿Porque te conviene quedarte con nosotros?</h5>
            <ul>
                <li> <span class="fas fa-check"></span> Ofrecemos una comision fija</li>
                <li> <span class="fas fa-check"></span> Estamos en Constante Innovación! agregando compañías de venta de tiempo aire y pago de servicios. </li>
                <li> <span class="fas fa-check"></span> Ofrecemos nuestros servicios en toda la republica mexicana</li>
                <li> <span class="fas fa-check"></span> Atención al cliente eficaz</li>
            </ul>
        </div>
    </div>
</div>

<!-- card-3 estadisticas-->
<div class="card3 wow animate__animated animate__fadeInUp">
    <div class="content">
        <div class="box">
            <img class="icon" src="../../../assets/images/icon-clientes.png" alt="clientes">
            <div class="counter text-center">+{{clientes}}</div>
            <div class="text"> Clientes felices </div>
        </div>

        <div class="box">
            <img class="icon" src="../../../assets/images/icon-store.png" alt="stores">
            <div class="counter">+{{ventas}}</div>
            <div class="text">
                Puntos de venta
            </div>
        </div>

        <div class="box">
            <img class="icon" src="../../../assets/images/icon-empresas.png" alt="servicios">
            <div class="counter">+{{productos}}</div>
            <div class="text">
                Servicios
            </div>
        </div>

        <div class="box">
            <img class="icon" src="../../../assets/images/icon-employees.png" alt="stores">
            <div class="counter">+{{anos}}</div>
            <div class="text">
                Años en el mercado
            </div>
        </div>
    </div>
</div>

<!-- card 4 como vender -->
<div class="card-4 container mt-5 mb-5 wow animate__animated animate__fadeInUp">

    <h3 class="card-4-title">¿Como puedo Vender?</h3>
    <div class="row g-3 fila justify-content-evenly">

        <div class="col-12 col-md-6 col-lg-4 columna">
            <div class="bar"></div>
            <div class="card card-4-item">
                <img src="../../../assets/svg/desktop.svg" alt="desktop" class="card-img-top">
                <div class="card-body">
                    <p class="card-title txt-title">Desktop</p>
                    <p class="card-text txt-text">Recarga & paga servicios de cualquier compañia desde tu computadora</p>
                    <a routerLink="servicios">Leer Mas...</a>
                </div>
            </div>
        </div>


        <div class="col-12 col-md-6 col-lg-4 columna">
            <div class="bar"></div>
            <div class="card card-4-item">
                <img src="../../../assets/svg/phone.svg" alt="phone" class="card-img-top">
                <div class="card-body">
                    <p class="card-title txt-title">SmartPhone</p>
                    <p class="card-text txt-text">Descarga la aplicación desde la AppStore o PlayStore</p>
                    <a class="enlace" href="#">Leer Mas...</a>
                </div>
            </div>
        </div>


        <div class="col-12 col-md-6 col-lg-4 columna">
            <div class="bar"></div>
            <div class="card card-4-item">
                <img src="../../../assets/svg/sms.svg" alt="sms" class="card-img-top">
                <div class="card-body">
                    <p class="card-title txt-title">SMS</p>
                    <p class="card-text txt-text">Desde tu telefono movil realiza recargas enviando un simple SMS</p>
                    <a href="#">Leer Mas...</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- card 5 servicios-->
<div class="card-5 container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="../../../assets/images/logos_companies.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h4 class="card-5-title display-5 fw-bold lh-1 mb-3">Recarga & Paga Servicios De Cualquier Compañia</h4>
            <p class="card-5-txt lead">Ofrecemos la venta de tiempo aire de celulares de las principales compañías de México. Usted puede vender tiempo aire desde su tienda, farmacia, ciber, casa, etc. únicamente necesita tener un dispositivo con acceso a Internet (pagina web)
                o un celular para la venta vía mensaje de texto. No esperes mas y contrata nuestros servicios e incrementa tus ventas considerablemente con esta gran oportunidad de atraer nuevos clientes a tu negocio.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Leer Mas</button>
            </div>
        </div>
    </div>
</div>

<!-- card 6 -->
<div class="card-6 container px-4 py-5" id="hanging-icons">
    <p class="card-6-title pb-2 border-bottom">Proceso de Inscripción</p>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <img src="../../../assets/images/copy-writing.png" alt="write" width="20" height="30">
            </div>
            <div>
                <p class="card-6-tl">Llena el formulario</p>
                <p class="card-6-txt">Completa el formulario con los datos requeridos</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <img src="../../../assets/images/email.png" alt="write" width="20" height="30">
            </div>
            <div>
                <p class="card-6-tl">Espera nuestro correo</p>
                <p class="card-6-txt">Con los datos que proporciones nosotros te nos pondremos en contacto contigo</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <img src="../../../assets/images/credit-card.png" alt="write" width="20" height="30">
            </div>
            <div>
                <p class="card-6-tl">Deposita o Transfiere</p>
                <p class="card-6-txt">Verifica en tu portal todas las cuentas </p>
            </div>
        </div>
    </div>
</div>