<main class="wow animate__animated animate__fadeIn">
    <div class="big-wrapper light">
        <img src="../../../assets/images/shape.png" alt="" class="shape" />

        <div class="showcase-area">
            <div class="container">
                <div class="left">
                    <div class="big-title">
                        <h1>Gana una comision fija, En la venta & pago de servicios</h1>
                    </div>
                    <p class="text">
                        Vende Recargas (Por Internet, WhatsApp, desde tu Smarphone) o via SMS gratuito.
                    </p>
                    <div class="cta">
                        <a [routerLink]="['inscripcion']" class="btn-insc">Inscribirme</a>
                    </div>
                </div>

                <div class="right">
                    <img src="../../../assets/images/person.png" alt="Person Image" class="person" />
                </div>
            </div>
        </div>
    </div>
</main>


<!-- card-2 Ventajas -->
<div class="card2 row g-0 mt-5 mb-5 wow animate__animated animate__fadeInUp">
    <div class="section-header mt-3">
        <h2 class="title" data-title="Beneficios">¿Porque te conviene quedarte con nosotros?</h2>
    </div>
    <div class="col-md-8">
        <img src="../../../assets/images/banner_ventajas.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="card2-col col-md-4">
        <div class="card-body">

            <!-- <p class="title">¿Porque te conviene quedarte con nosotros?</p> -->
            <ul>
                <li class="text"> <span class="fas fa-check"></span> Ofrecemos una comision fija</li>
                <li class="text"> <span class="fas fa-check"></span> Estamos en Constante Innovación! agregando compañías de venta de tiempo aire y pago de servicios. </li>
                <li class="text"> <span class="fas fa-check"></span> Ofrecemos nuestros servicios en toda la republica mexicana</li>
                <li class="text"> <span class="fas fa-check"></span> Recarga cuando quieras y puedas</li>
                <li class="text"> <span class="fas fa-check"></span> Sin cobro de inscripcion ni anualidades</li>
                <li class="text"> <span class="fas fa-check"></span> Atención al cliente eficaz</li>
            </ul>
        </div>
    </div>
</div>

<!-- card-3 estadisticas-->
<div class="records wow animate__animated animate__fadeInUp">

    <div class="container">
        <div class="wrap">
            <div class="record-circle">
                <p class="number" data-num="235">+{{clientes}}</p>
                <p class="sub-title">Clientes Felices</p>
            </div>
        </div>

        <div class="wrap">
            <div class="record-circle active">
                <p class="number" data-num="174">+{{ventas}}</p>
                <p class="sub-title">Puntos de Venta</p>
            </div>
        </div>

        <div class="wrap">
            <div class="record-circle">
                <p class="number" data-num="892">+{{productos}}</p>
                <p class="sub-title">Servicios</p>
            </div>
        </div>

        <div class="wrap">
            <div class="record-circle">
                <p class="number" data-num="368">+{{anos}}</p>
                <p class="sub-title">Años en el Mercado</p>
            </div>
        </div>
    </div>
</div>

<!-- card 4 como vender -->
<div class="container mt-5 mb-5 card-4 wow animate__animated animate__fadeInUp">

    <div class="section-header">
        <h2 class="title" data-title="Metodos de Venta">¿Como Puedo Vender?</h2>
        <p class="text">
            Elije la mejor forma que se adapte a ti para vender
        </p>
    </div>
    <div class="row g-3 justify-content-evenly fila">

        <div class="col-12 col-md-6 col-lg-4 columna">
            <div class="bar"></div>
            <div class="card card-4-item">
                <img src="../../../assets/images/svg/desktop.svg" alt="desktop" class="card-img-top">
                <div class="card-body">
                    <p class="card-title text">Desktop</p>
                    <p class="card-text txt-text">Recarga & paga servicios de cualquier compañia desde tu computadora</p>
                    <!-- <a routerLink="servicios">Leer Mas...</a> -->
                </div>
            </div>
        </div>


        <div class="col-12 col-md-6 col-lg-4 columna">
            <div class="bar"></div>
            <div class="card card-4-item">
                <img src="../../../assets/images//svg/phone.svg" alt="phone" class="card-img-top">
                <div class="card-body">
                    <p class="card-title text">SmartPhone</p>
                    <p class="card-text txt-text">Descarga la aplicación desde la AppStore o PlayStore</p>
                    <!-- <a class="enlace" href="#">Leer Mas...</a> -->
                </div>
            </div>
        </div>


        <div class="col-12 col-md-6 col-lg-4 columna">
            <div class="bar"></div>
            <div class="card card-4-item">
                <img src="../../../assets/images//svg/sms.svg" alt="sms" class="card-img-top">
                <div class="card-body">
                    <p class="card-title text">SMS</p>
                    <p class="card-text txt-text">Desde tu telefono movil realiza recargas enviando un simple SMS</p>
                    <!-- <a href="#">Leer Mas...</a> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- card 5 servicios-->
<div class="card-5 col-xxl-8 px-3 py-2 wow animate__animated animate__fadeInUp">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-2">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="../../../assets/images/logos_companies.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h4 class="card-5-title lh-1">Recarga & Paga Servicios De Cualquier Compañia</h4>
            <p class="text">Ofrecemos la venta de tiempo aire de celulares de las principales compañías de México. Usted puede vender tiempo aire desde su tienda, farmacia, ciber, casa, etc. únicamente necesita tener un dispositivo con acceso a Internet (pagina web)
                o un celular para la venta vía mensaje de texto. No esperes mas y contrata nuestros servicios e incrementa tus ventas considerablemente con esta gran oportunidad de atraer nuevos clientes a tu negocio.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a [routerLink]="['servicios']" class="btn btn-primary btn-lg px-4 me-md-2">Leer Mas</a>
            </div>
        </div>
    </div>
</div>

<!-- card 6 Proceso de inscripcion -->
<div class="card-6 container px-4 py-5 wow animate__animated animate__fadeInUp" id="hanging-icons">
    <div class="section-header">
        <h3 class="title" data-title="Proceso De Incripcion">¿Como Me Inscribo?</h3>
    </div>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <img src="../../../assets/images/copy-writing.png" alt="write" width="20" height="30">
            </div>
            <div>
                <p class="card-6-tl">Llena el formulario</p>
                <p class="text">Completa el formulario con los datos requeridos</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <img src="../../../assets/images/email.png" alt="write" width="20" height="30">
            </div>
            <div>
                <p class="card-6-tl">Espera nuestro correo</p>
                <p class="text">Con los datos que proporciones, nos pondremos en contacto contigo para brindarte tus datos de acceso a la plataforma
                </p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <img src="../../../assets/images/credit-card.png" alt="write" width="20" height="30">
            </div>
            <div>
                <p class="card-6-tl">Deposita o Transfiere</p>
                <p class="text">Verifica en tu portal todas las cuentas y paga a la banca de tu preferencia </p>
            </div>
        </div>
    </div>
</div>