/* card 2 ventajas*/

.card2 {
    align-items: center;
    border: 1px solid #7FB3D5;
    border-radius: 10px;
    background-color: #FFF;
}

.card2 .card2-col .card-body ul {
    list-style: none;
}

.card2 .card-body ul li {
    padding: 3px;
    font-family: "Poppins", sans-serif;
    color: #000;
    font-weight: 800;
}

.card2 .card-body ul li .fas,
.fa-check {
    color: #AED6F1;
}


/* card-3 estadisticas */

.records {
    position: relative;
    background-color: #784cfb;
    padding: 5.2rem 0;
    border-radius: 5px;
}

.records .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.record-circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0 auto;
    border: 4px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #333;
}

.record-circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0 auto;
    border: 4px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.number {
    font-weight: 400;
    font-size: 2.35rem;
}

.sub-title {
    font-weight: 400;
    font-size: 1.12rem;
    text-transform: uppercase;
}


/*Card-4 como vender*/

.card-4 .text {
    font-weight: bold;
}

.card-4 .fila .columna .card-4-item {
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.25s;
}

.card-4 .fila .columna .card-4-item:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.card-4 .fila .columna .card-4-item a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

.card-4 .fila .columna .bar {
    width: 100px;
    height: 6px;
    position: relative;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    background-color: #4a90e2;
    border-radius: 0px 0px 10px 10px;
    display: none;
    animation: bar 0.5s;
}

.card-4 .fila .columna:hover .bar {
    display: block;
}

.card-5 .text {
    font-weight: bold;
    font-family: '';
}


/* card 5 servicios*/

.card-5 {
    background-color: #FFFFFF;
}

.card-5 .row .col-lg-6 .card-5-title {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 64px;
    font-family: "Poppins", sans-serif;
}

.card-5 .row .col-lg-6 .card-5-txt {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    color: #18191F;
}

.card-5 .row .col-lg-6 button {
    background-color: #64bcf4;
}


/* card-6 */

.card-6 .card-6-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
}

.card-6 .row .col .card-6-tl {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}

.card-6 .row .col .card-6-txt {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
}


/* Animaciones */

@keyframes bar {
    0% {
        width: 0px;
    }
    100% {
        width: 100px;
    }
}


/* Responsive */

@media (max-width: 1280px) {
    .record-circle {
        width: 150px;
        height: 150px;
        border-width: 3px;
    }
    .record-circle .number {
        font-size: 1.8rem;
    }
    .record-circle .sub-title {
        font-size: 0.9rem;
    }
    .section-header .text {
        max-width: 500px;
    }
}

@media screen and (max-width: 1036px) {
    .card3 {
        padding: 50px 50px 0 50px;
    }
    .card3 .content .box {
        width: calc(50% - 30px);
        margin-bottom: 50px;
    }
}

@media (max-width: 850px) {
    .records .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 580px) {
    .card3 .content .box {
        width: 100%;
    }
}

@media (max-width: 560px) {
    .records .container {
        grid-template-columns: 1fr;
    }
    .records .half-circle {
        top: 50%;
        left: 50px;
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        padding: 20px;
    }
    .card3 {
        padding: 30px 20px 0 20px;
    }
}