.light {
    --mainColor: #64bcf4;
    --hoverColor: #5bacdf;
    --backgroundColor: #f1f8fc;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: bold;
}

p {
    font-size: 20px;
}

.big-wrapper {
    position: relative;
    padding: 1.7rem 0 2rem;
    width: 100%;
    min-height: 50vh;
    overflow: hidden;
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    position: relative;
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 10;
}

.logo img {
    width: 40px;
    margin-right: 0.6rem;
    margin-top: -0.6rem;
}

main .cta a.btn-insc {
    display: inline-block;
    padding: 0.9rem 1.9rem;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    background-color: var(--mainColor);
    border-radius: 16px;
    text-transform: capitalize;
    transition: 0.3s;
}

a.btn-insc:hover {
    background-color: var(--hoverColor);
    transform: scale(1);
}

.showcase-area .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.big-title {
    font-size: 1.4rem;
    color: var(--darkOne);
    text-transform: capitalize;
    line-height: 1.4;
    font-weight: bold;
}

#lading-page .inscripcion-text {
    color: #7a7a7a;
    font-size: 18px;
    margin: 1.9rem 0 2.5rem;
    max-width: 600px;
    line-height: 2.3;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.showcase-area .btn-insc {
    box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.05);
}

.person {
    width: 123%;
    transform: translate(15%, 25px);
}

.shape {
    position: absolute;
    z-index: 0;
    width: 500px;
    bottom: -180px;
    left: -15px;
    opacity: 0.1;
}

.copy {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    animation: appear 1s 1 both;
}

@keyframes appear {
    0% {
        clip-path: circle(30% at -25% -25%);
    }
    100% {
        clip-path: circle(150% at 0 0);
    }
}

@media screen and (max-width: 870px) {
    .showcase-area {
        padding: 2.5rem 0;
        max-width: 700px;
        margin: 0 auto;
    }
    .showcase-area .container {
        grid-template-columns: 1fr;
        justify-content: center;
        grid-gap: 2rem;
    }
    .big-title {
        font-size: 1.1rem;
        font-weight: bold;
    }
    .text {
        font-size: 1rem;
        margin: 1.4rem 0 1.5rem;
    }
    .person {
        width: 100%;
        transform: none;
    }
    .shape {
        bottom: -180px;
        left: -150px;
    }
}

@media screen and (max-width: 470px) {
    .container {
        padding: 0 1.5rem;
    }
    .big-title {
        font-size: 0.9rem;
    }
    .text {
        margin: 1.1rem 0 1.5rem;
    }
    .showcase-area .btn-insc {
        font-size: 0.8rem;
    }
}