<div class="section-title section-contact mt-5">
    <h1 class="title" data-title="Contacto">Contacto </h1>
    <p> <strong>Recargas Electrónicas</strong> pone a tu disposición los siguientes medios de comunicación para que puedas ponerte en contacto con nosotros
    </p>
</div>


<!-- CONTACT PAGAQUI -->
<section class="contact contact-pagaqui">
    <div class="container-c">
        <div class="contact-left">
            <h2>medios de contacto pagaqui</h2>

            <ul class="contact-list">
                <li>
                    <h3 class="item-title"><i class='bx bx-time-five'></i>Horario de atención </h3>
                    <span>Lunes - Viernes 9AM - 6PM</span> <br>
                    <span>Sabado - 9AM - 5PM</span>
                </li>
                <div class="separator"></div>
                <li>
                    <h3 class="item-title"><i class='bx bx-money-withdraw'></i>Reportes de depositos </h3>
                    <span>Lunes - Viernes 9AM - 6PM</span> <br>
                    <span>Sabado - 9AM - 5PM</span>
                </li>
                <div class="separator"></div>
                <li>
                    <h3 class="item-title"><i class='bx bxl-whatsapp'></i>WhatsApp</h3>
                    <span><a href="#">Recargas Electrónicas</a></span>
                </li>
                <div class="separator"></div>
                <li>
                    <h3 class="item-title"><i class='bx bx-phone-call'></i>Telefono</h3>
                    <span>2712141938</span>
                </li>
                <div class="separator"></div>
                <li class="list-email">
                    <h3 class="item-title"><i class='bx bx-mail-send'></i>Gmail</h3>
                    <span><a class="email-link" href="mailto:tae@gmail.com">tae@gmail.com</a></span>
                    <span><a class="email-link" href="mailto:recargas@electronicas.com.mx">recargas@ <br> electronicas.com.mx</a></span>
                    <span><a class="email-link" href="mailto:ventas@recargaselectronicas.org">ventas@recargas <br> electronicas.org</a></span>
                </li>
            </ul>
        </div>

        <div class="contact-right">
            <p>Si eres cliente Pagaqui no olvides indicar tu <span>numero o nombre de usuario</span> asi como tu <span>plataforma</span> a tu asistente Ejecutivo, esto con la finalidad de identificarte en nuestro sistema y brindarte un mejor servicio.</p>
            <div class="contact-img d-block">
                <img src="assets/images/contacto_pagaqui.png" class="d-block mx-lg-auto img-fluid" alt="banner contacto">
            </div>
        </div>

    </div>
</section>


<div class="separator"></div>

<!-- CONTACT RECARGAKI -->
<section class="contact contact-recargaki">
    <div class="container-c">

        <div class="contact-left">
            <p>Si eres cliente Recargaki/PlanetaEmx no olvides indicar tu <span>numero o nombre de usuario</span> asi como tu <span>plataforma </span>a tu asistente Ejecutivo, esto con la finalidad de identificarte en nuestro sistema y brindarte un mejor
                servicio.
            </p>
            <div class="contact-img d-block">
                <img src="assets/images/contacto_recargaki.png" class="d-block mx-lg-auto img-fluid" alt="banner contacto">
            </div>
        </div>

        <div class="contact-right">
            <h2>medios de contacto recargaki</h2>

            <ul class="contact-list">
                <li>
                    <h3 class="item-title"><i class='bx bx-time-five'></i>Horario de atención </h3>
                    <span>Lunes - Viernes 9AM - 6PM</span> <br>
                    <span>Sabado - 9AM - 5PM</span>
                </li>
                <div class="separator"></div>
                <li>
                    <h3 class="item-title"><i class='bx bx-money-withdraw'></i>reporte de depositos</h3>
                    <span>Lunes - Viernes 9AM - 6PM</span> <br>
                    <span>Sabado - 9AM - 12PM</span>
                </li>
                <div class="separator"></div>
                <li>
                    <h3 class="item-title"><i class='bx bxl-whatsapp'></i>WhatsApp</h3>
                    <span><a href="#">Recargas Electrónicas</a></span>
                </li>
                <div class="separator"></div>
                <li>
                    <h3 class="item-title"><i class='bx bx-phone-call'></i>Telefono</h3>
                    <span>2712141938</span>
                </li>
                <div class="separator"></div>
                <li class="list-email">
                    <h3 class="item-title"><i class='bx bx-mail-send'></i>Gmail</h3>
                    <span><a href="mailto:tae@gmail.com">tae@gmail.com</a></span>
                    <span><a href="mailto:recargas@electronicas.com.mx">recargas@ <br> electronicas.com.mx</a></span>
                    <span><a href="mailto:ventas@recargaselectronicas.org">ventas@recargas <br> electronicas.org</a></span>
                </li>
            </ul>
        </div>

    </div>
</section>