.card-contacto-1 .card-contacto-col ul {
    margin-top: 3px;
    padding: 5px;
    list-style-type: none;
}

.card-contacto-1 .card-contacto-col ul li {
    margin: 5px;
    display: block;
}

.card-contacto-1 .card-contacto-col ul li a {
    text-decoration: none;
    color: #7a7a7a;
}

.card-contacto-1 .card-contacto-col .fas {
    padding: 10px;
    font-size: 25px;
    border-radius: 5px;
    color: #FFFFFF;
    margin-right: 8px;
    background-color: #21618C;
}

.header-shape-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url(../../../assets//images//header-shape-1.svg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.header-shape-2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}


/* card-2 */

.card-contact-2 .card-contact2-col .fab,
.far {
    padding: 8px;
    font-size: 25px;
    border-radius: 5px;
    background-color: #154360;
}

.card-contact-2 .card-contact2-col .card-body ul {
    margin-top: 3px;
    padding: 5px;
    list-style-type: none;
}

.card-contact-2 .card-contact2-col .card-body ul li {
    margin: 5px;
    display: block;
}

.card-contact-2 .card-contact2-col .card-body ul li span {
    color: #FFFFFF;
}

.card-contact-2 .card-contact2-col .card-body ul li a {
    text-decoration: none;
    position: relative;
    margin-left: 6px;
    color: #7a7a7a;
}

.card-contact-2 .card-contact2-col .card-body ul li .fa-whatsapp {
    background: #0BBF17;
    color: #FFFFFF;
}