<div class="section-header ">
    <h1 class="title" data-title="Contacto">Estamos para servirle </h1>
    <p class="text">Bienvenido a continuación encontrara todos los medios para comunicarse con nosotros</p>
</div>

<div class="card-contacto-1 row g-0 mt-5 mb-5 wow animate__animated animate__fadeInRight">
    <div class="col-md-6">

        <img src="/assets/images/banner_contact.png" class="img-fluid rounded-start" alt="banner contacto">
    </div>
    <div class="card-contacto-col col-md-6">
        <div class=" card-body">
            <p class="title">Correos:</p>
            <ul>
                <li> <span class="fas fa-envelope-open-text"></span><a href="mailto:recargas.celular@yahoo.com.mx ">recargas.celular@yahoo.com.mx</a></li>
                <li> <span class="fas fa-envelope-open-text"></span><a href="mailto:tae.celular@gmail.com">tae.celular@gmail.com</a></li>
                <li> <span class="fas fa-envelope-open-text"></span><a href="mailto:recargas.celular@yahoo.com.mx ">ventas@recargaselectronicas.org</a></li>
                <li> <span class="fas fa-envelope-open-text"></span><a href="mailto:recargas.celular@yahoo.com.mx ">recargas@electronicas.com.mx</a></li>
            </ul>
        </div>
    </div>

</div>

<hr class="featurette-divider">

<div class="card-contact-2 row g-0 mt-5 mb-5 wow animate__animated animate__fadeInRight">
    <div class="col-md-6 order-md-1">

        <img src="/assets/images/banner_correos.png" class="img-fluid rounded-start" alt="banner correos">
    </div>
    <div class="card-contact2-col col-md-6">
        <div class=" card-body order-md-2">
            <p class="title">Chat:</p>
            <ul>
                <li><span class="fab fa-whatsapp"></span><a href="https://wa.me/2712141938/?text=Me%20interesa%20sus%20servicios%20+%20informacion%20por%20favor"> WhatsApp +5215518111604</a></li>
                <li><span class="far fa-comments"></span><a href="mailto:soporte.recargas@hotmail.com">soporte.recargas@hotmail.com</a></li>
                <li><span class="far fa-comments"></span><a href="">www.recargas.electronicas.com.mx</a></li>
            </ul>
        </div>
    </div>
</div>