/* .social-bar {
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

.social-bar ul li {
    list-style: none;
}

.fab {
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
}

.fa-whatsapp {
    background: #0BBF17;
}

.fa-phone {
    background: #5C64F2;
}

.fa-facebook-messenger {
    background-color: #D943CF;
}

.fab:first-child {
    border-radius: 1rem 0 0 0;
}

.fab:last-child {
    border-radius: 0 0 0 1rem;
}

.fab:hover {
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
} */

.boton {
    width: 35px;
    transition: ease 1s;
}

.container-boton {
    border: none;
    position: fixed;
    z-index: 999;
    border-radius: 5px;
    bottom: 5px;
    left: 20px;
    padding: 10px;
    transition: ease 0.3s;
    animation: efecto 1.8s infinite;
    text-align: center;
    background: rgba(83, 109, 254, 0.9);
}

.container-boton a {
    text-decoration: none;
    color: #FFF;
}

.container-boton .text-wh {
    padding: 10px;
    font-weight: bold;
}

.container-boton:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

@keyframes efecto {
    0% {
        box-shadow: 0 0 0 0 rgba(30, 136, 229, 0.5);
    }
    100% {
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}