<!-- <div class="social-bar">
    <ul>
        <li>
            <a href="https://wa.me/2741151616/?text=Me%20interesa%20sus%20servicios%20+%20informacion%20por%20favor" class="fab fa-whatsapp"></a>
        </li>

        <li>
            <a href="#" class="fab fas fa-phone"></a>
        </li>

        <li>
            <a href="#" class="fab fa-facebook-messenger"></a>
        </li>
    </ul>
</div> -->


< <div class="container-boton">
    <a href="https://wa.me/2712141938/?text=Me%20interesa%20sus%20servicios%20+%20informacion%20por%20favor" target="_blank">
        <img class="boton" src="/assets/images/whatsApp.png" alt="">
        <span class="text-wh">  Recargas Electrónicas </span>
    </a>
    </div>