.social-bar {
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

.social-bar ul li {
    list-style: none;
}

.fab {
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
}

.fa-whatsapp {
    background: #0BBF17;
}

.fa-phone {
    background: #5C64F2;
}

.fa-facebook-messenger {
    background-color: #D943CF;
}

.fab:first-child {
    border-radius: 1rem 0 0 0;
}

.fab:last-child {
    border-radius: 0 0 0 1rem;
}

.fab:hover {
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}