<!-- navbar menu -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/inicio']" routerLinkActive="router-link-active">
            <img src="../../../assets/images/vector-logo.png" height="100%">
        </a>
        <button class="navbar-toggler mb-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link link tebel-sedang" [routerLink]="['/home']" routerLinkActive="active">Home &nbsp;&nbsp;</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link link tebel-sedang" [routerLink]="['servicios']">Nuestros Servicios &nbsp;&nbsp;</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link tebel-sedang" [routerLink]="['reportes']" routerLinkActive="active">Reportar Depositos &nbsp;&nbsp;</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link link tebel-sedang" [routerLink]="['inscripcion']">Inscripción &nbsp;&nbsp;</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link link tebel-sedang" [routerLink]="['contacto']" routerLinkActive="active">Contacto &nbsp;&nbsp;</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link active tebel-sedang rounded-pill bg-ungu shadow" href="#"> Inscribirme </a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>