<div class="container-report">
    <div class="forms-container">
        <div class="inscripcion">
            <form action="#" class="sign-in-form">
                <h2 class="title"> Inscripcion</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Nombre del negocio" />
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password" />
                </div>
                <input type="submit" value="Login" class="btn solid" />
                <p class="social-text">Siguenos en nuestras redes sociales</p>
                <div class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </form>

        </div>
    </div>

    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3>Recargar y ganar una comision nunca fue tan facil </h3>
                <p>
                    Obten una comisión fija en todas tus recargas y pago de servicios
                </p>

            </div>
            <img src="../../../assets/images/banner_insc.svg" class="image" alt="" />
        </div>

    </div>
</div>