<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Compañia</h4>
                <ul>
                    <li><a href="#">Sobre Nosotros</a></li>
                    <li><a href="#">Nuestros Servicios</a></li>
                    <li><a href="#">Politicas de privacidad</a></li>
                    <li><a href="#">Cobertura</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#">Preguntas Frecuentes</a></li>
                    <li> <a href="#">Sugerencias</a></li>
                    <li><a href="#">Dudas y Aclaraciones</a></li>
                    <li><a href="#">Opciones de pago</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Conoce nuestras otras plataformas</h4>
                <ul>
                    <li><a href="#">Pagaqui</a></li>
                    <li><a href="#">recargaki</a></li>
                    <li><a href="#">Planetaemx</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Siguenos en nuestras Redes Sociales:</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>