<footer>
    <div class="container-foot">
        <div class="sec aboutus">
            <h2>Siguenos en nuestras redes sociales</h2>

            <ul class="sci">
                <li><a href="https://www.facebook.com/recargas.electronicas.com.mx/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/recargascelular"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/recargascelular/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCkhtvMXYh2g4POHlvrXNgVQ?view_as=subscriber"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
            </ul>
        </div>


        <div class="sec contact">
            <h2>contacto</h2>
            <ul class="info">
                <li>
                    <span><i class="fas fa-map-marker-alt" aria-hidden="true"></i></span>
                    <span> Delegación Benito Juarez Distrito Federal México DF Dirección Completa Solo Clientes Activos.</span>
                </li>

                <li>
                    <span><i class="fas fa-phone-square-alt" aria-hidden="true"></i></span>
                    <p><a href="#">012717140102</a><br>
                        <a href="#">WhatsApp +5215518111604</a></p>
                </li>

                <li>
                    <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    <p>
                        <a href="mailto:tae.celular@gmail.com">tae.celular@gmail.com</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</footer>
<div class="copyright">
    <P>Todos los derechos reservados 2021</P>
</div>



<!-- <div class="fusion-social-networks-wrapper"><a class="fusion-social-network-icon fusion-tooltip fusion-facebook fusion-icon-facebook" style="color:#ffffff;background-color:#3b5998;border-color:#3b5998;" data-placement="top" data-title="Facebook" data-toggle="tooltip" title="" href="https://www.facebook.com/recargas.electronicas.com.mx/"
        target="_blank" rel="noopener noreferrer" data-original-title="Facebook"><span class="screen-reader-text">Facebook</span></a><a class="fusion-social-network-icon fusion-tooltip fusion-youtube fusion-icon-youtube" style="color:#ffffff;background-color:#cd201f;border-color:#cd201f;"
        data-placement="top" data-title="YouTube" data-toggle="tooltip" title="" href="https://www.youtube.com/channel/UCkhtvMXYh2g4POHlvrXNgVQ?view_as=subscriber" target="_blank" rel="noopener noreferrer" data-original-title="YouTube"><span class="screen-reader-text">YouTube</span></a>
    <a class="fusion-social-network-icon fusion-tooltip fusion-instagram fusion-icon-instagram" style="color:#ffffff;background-color:#3f729b;border-color:#3f729b;" data-placement="top" data-title="Instagram" data-toggle="tooltip" title="" href="https://www.instagram.com/recargascelular/"
        target="_blank" rel="noopener noreferrer" data-original-title="Instagram"><span class="screen-reader-text">Instagram</span></a><a class="fusion-social-network-icon fusion-tooltip fusion-twitter fusion-icon-twitter" style="color:#ffffff;background-color:#55acee;border-color:#55acee;"
        data-placement="top" data-title="Twitter" data-toggle="tooltip" title="" href="https://twitter.com/recargascelular" target="_blank" rel="noopener noreferrer" data-original-title="Twitter"><span class="screen-reader-text">Twitter</span></a><a class="custom fusion-social-network-icon fusion-tooltip fusion-custom fusion-icon-custom"
        style="color:#ffffff;position:relative;" data-placement="top" data-title="WhatsApp" data-toggle="tooltip" title="" href="https://wa.me/522712141938?fbclid=IwAR0XUFL-fsiEHKLpUHzZ1_PT67L_kT0KnRVuofiJT6Q2dGTVQDUOfoFUwfQ" target="_blank" rel="noopener noreferrer"
        data-original-title="WhatsApp"><span class="screen-reader-text">WhatsApp</span><img src="https://www.recargas.electronicas.com.mx/wp-content/uploads/2019/08/whatsapp_PNG10.png" style="width:auto;" alt="WhatsApp"></a>
    <a class="fusion-social-network-icon fusion-tooltip fusion-mail fusion-icon-mail fusion-last-social-icon" style="color:#ffffff;background-color:#000000;border-color:#000000;" data-placement="top" data-title="Email" data-toggle="tooltip" title="" href="mailto:recargas@electronicas.com.mx"
        target="_self" rel="noopener noreferrer" data-original-title="Email"><span class="screen-reader-text">Email</span></a>
</div> -->