<footer>
    <div class="container-foot">
        <div class="sec aboutus">
            <h2>Siguenos en nuestras redes sociales</h2>

            <ul class="sci">
                <li><a href="https://www.facebook.com/recargas.electronicas.com.mx/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/recargascelular"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/recargascelular/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCkhtvMXYh2g4POHlvrXNgVQ?view_as=subscriber"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
            </ul>
        </div>


        <div class="sec contact">
            <h2>contacto</h2>
            <ul class="info">
                <li>
                    <span><i class="fas fa-map-marker-alt" aria-hidden="true"></i></span>
                    <span> Delegación Benito Juarez Distrito Federal México DF Dirección Completa Solo Clientes Activos.</span>
                </li>

                <li>
                    <span><i class="fas fa-phone-square-alt" aria-hidden="true"></i></span>
                    <p><a href="#">012717140102</a><br>
                        <a href="#">WhatsApp +5215518111604</a></p>
                </li>

                <li>
                    <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    <p>
                        <a href="mailto:tae.celular@gmail.com">tae.celular@gmail.com</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</footer>
<div class="copyright">
    <P>Todos los derechos reservados 2021</P>
</div>