<section class="counter-up">
    <div class="content">
        <div class="box">
            <img class="icon" src="../../../assets/images/icon-clientes.png" alt="clientes">
            <div class="counter">+{{clientes}}</div>
            <div class="text"> Clientes felices </div>
        </div>

        <div class="box">
            <img class="icon" src="../../../assets/images/icon-store.png" alt="stores">
            <div class="counter">+{{ventas}}</div>
            <div class="text">
                Puntos de venta
            </div>
        </div>

        <div class="box">
            <img class="icon" src="../../../assets/images/icon-empresas.png" alt="servicios">
            <div class="counter">+{{productos}}</div>
            <div class="text">
                Servicios
            </div>
        </div>

        <div class="box">
            <img class="icon" src="../../../assets/images/icon-employees.png" alt="stores">
            <div class="counter">+{{anos}}</div>
            <div class="text">
                Años en el mercado
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img src="" class="card-img-top" alt="">
                    <div class="card-body">
                        <p class="card-title">Lorem, ipsum.</p>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="" class="card-img-top" alt="">
                    <div class="card-body">
                        <p class="card-title">Lorem, ipsum.</p>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="" class="card-img-top" alt="">
                    <div class="card-body">
                        <p class="card-title">Lorem, ipsum.</p>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 
<section class="grid-container">
    <div class="grid">
        <div class="grid-item">
            <div class="card">
                <img src="" alt="">
                <div class="content">
                    <p class="card-header">Web</p>
                    <p class="txt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus et eius, molestiae pariatur eligendi aperiam!</p>
                    <button class="btn-card">Acerca..</button>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card">
                <img src="" alt="">
                <div class="content">
                    <p class="card-header">Web</p>
                    <p class="txt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus et eius, molestiae pariatur eligendi aperiam!</p>
                    <button class="btn-card">Acerca..</button>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card">
                <img src="" alt="">
                <div class="content">
                    <p class="card-header">Web</p>
                    <p class="txt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus et eius, molestiae pariatur eligendi aperiam!</p>
                    <button class="btn-card">Acerca..</button>
                </div>
            </div>
        </div>
    </div>
</section> -->